@import "./common/fb.css";
@import "./common/yt.css";
@import "./common/layout/slider.css";
@import "./common/layout/button.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #4F4F4F;
  /* letter-spacing: 0.03em; */
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.page_flex {
  display: flex;
  overflow: hidden;
}

.slider_all {
  display: flex;
  transform: translateX(0%);
  transition: transform 0.8s ease-in-out 0s;
  /* width: 100%;
    height: 100%;
    background-image: url("img/Group1.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative; */
}

.page_both {
  width: 100%;
  height: 100vh;
  background-image: url("../img/alice_youtube_taste.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: red; */
}

.yt_loding_bg {
  width: calc(100vw - 80px);
  height: 100vh;
  background-color: #fff;
  background-image: url("../img/new_bg/alice_youtube.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fb_loding_bg {
  width: calc(100vw - 80px);
  height: 100vh;
  background-color: #fff;
  background-image: url("../img/new_bg/alice_facebook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.loding_peter_btn {
  width: 180px;
  height: 50px;
  margin: 30px auto;
  background: #FF8A7E;
  border-radius: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  cursor: pointer;
}

.loding_peter_btn2 {
  background: #93C3FC;
  cursor: pointer;
}

.loding_tab_btn {
  width: 300px;
  height: 100px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #828282;
  position: absolute;
  display: none;
  cursor: pointer;
}

.loding_tab_btn_yt {
  bottom: 100px;
  right: 80px;
  cursor: pointer;
}

.loding_tab_btn_fb {
  bottom: 100px;
  left: 80px;
  cursor: pointer;
}

.loding_tab_btn_img {
  width: 30px;
  height: 27.86px;
  margin-left: 15px;
  cursor: pointer;
}

.loding_tab_btn_img2 {
  width: 30px;
  height: 27.86px;
  margin-right: 15px;
  cursor: pointer;
}

.loding_tab_btn_img img {
  width: 100%
}

.loding_tab_btn_img2 img {
  width: 100%;
  transform: rotate(180deg);
}
@media (max-width: 1440.98px) {
  .loding_peter_btn {
    width: 144px;
    height: 40px;
    margin: 35px auto;
    font-size: 18px;
  }
}
@media (max-width: 960.98px) {
  .loding_peter_btn {
    width: 120px;
    height: 33.33px;
    margin: 35px auto;
    font-size: 16px;
  }
  .loding_tab_btn{
    width: 240px;
    height: 80px;
    font-size: 16px;
    border-radius: 15px;
  }
}