.YouTube_block_bg {
  width: 950px;
  /* height: 630px; */
  margin: 25px auto 0px auto;
  background: #ffffff;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.YouTube_block {
  padding: 25px 25px 10px 25px;
}

.YouTube_block_txt {
  padding: 0px 25px 10px 25px;
  font-size: 22px;
  font-weight: 500;
  color: #262938;
}

.yt {
  /* margin: 0 auto; */
  width: 100vw;
  /* height: 1200px; */
  display: flex;
}

.yt_aside {
  width: 183px;
  height: 120px;
  margin-top: 25px;
  margin-left: 34px;
}

.yt_aside_img {
  width: 183px;
  height: 90px;
  margin: 0 auto;
}

.yt_aside_img_img {
  width: 100%;
}

.yt_aside_title {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.yt_aside_title_img_div {
  padding: 10px 0px 10px 10px;
  width: 76px;
}

.yt_aside_title_img {
  width: 100%;
}

.yt_aside_title_span {
  height: 25px;
  padding: 8px 10px;
}

.yt_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* text-align: center; */
}

.yt_aside_video {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
}

.box2_2 {
  /* margin: 0 auto;
    width: 100%;
    height: 100%;
    background-image: url("img/Group1.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;*/
}

.yt_hint_box_both {
  margin: 0 auto;
}

.yt_hint_box {
  display: flex;
  /* display: none; */
  height: 100px;
  width: 950px;
  background: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(130, 130, 130, 0.8);
  box-sizing: border-box;
  border-radius: 20px;
  align-items: center;
  margin: 20px auto;
}

.yt_hint_box_1 {
  /* display: none; */
}

.yt_hint_box_2 {
  display: none;
}

.yt_hint_img_div {
  width: 80px;
  height: 80px;
  margin-left: 25px;
  margin-right: 30px;
}

.yt_hint_img {
  width: 100%;
}

.yt_hint_box_content {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  align-items: center;
  letter-spacing: 0.03em;
}

.yt_hint_box_content_word {
  display: flex;
  align-items: center;
}

.yt_hint_box_content_2 {}

.yt_hint_box_content_img_div {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 12px;
}

.yt_hint_box_content_img {
  width: 100%;
}

.yt_pop_box_btn {
  width: 180px;
  height: 50px;
  background: #FF8A7E;
  border-radius: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 40px;
  cursor: pointer;
}

.yt_message {
  height: 100%;
}

.yt_message_all {
  height: 100%;
}

.yt_message_content {
  height: 100%;
}

.yt_message_img_div {
  width: 100px;
  height: 100px;
  margin-left: 47px;
  margin-top: 780px;
}

.yt_message_img {
  width: 100%;
}

.yt_main {
  width: calc(100vw - 297px);
}

.yt_loding_aside {
  width: 183px;
  margin-top: 25px;
  position: absolute;
  left: 34px;
}

.yt_loding_aside_img {
  width: 183px;
  height: 90px;
  margin: 0 auto;
}

.yt_loding_aside_img_img {
  width: 100%;
}

.yt_loding_aside_title {
  display: flex;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.yt_loding_aside_title_img_div {
  padding: 10px 0px 10px 15px;
  width: 80px;
}

.yt_loding_aside_title_img {
  width: 100%;
}

.yt_loding_aside_title_span {
  height: 25px;
  padding: 8px 10px;
}

.yt_loding {
  /* position: absolute;
  top: 0;
  left: 0; */
}

.yt_loding_bg {
  position: absolute;
  top: 0;
  left: 0;
}

.yt_loding_peter_div {
  display: none;
  width: 550px;
  height: 314px;
  position: absolute;
  top: 150px;
  right: 15%;
  background-image: url(../../img/dialog.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.yt_peter_head_div {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 219px;
}

.yt_loding_peter_txt {
  width: 550px;
  height: 83px;
  padding-top: 52px;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
}

@media (max-width: 1660.98px) {
  .yt_hint_box_content_2 {
    display: inline-block;
    width: 53%;
  }
}


@media (max-width: 1440.98px) {
  .yt_loding_peter_div {
    width: 460px;
    height: 262.6px;
    top: 100px;
    right: 15%;
  }

  .yt_loding_peter_txt {
    width: 460px;
    height: 55px;
    font-size: 28px;
  }

  .yt_peter_head_div {
    width: 180px;
  }

  .yt_aside {
    width: 160px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .yt_aside_img {
    width: 160px;
    height: 75px;
  }

  .yt_main {
    width: calc(100vw - 260px);
  }

  .YouTube_block_bg {
    width: 800px;
    height: 527px;
    margin: 20px auto 0px auto;
    background: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .YouTube_block {
    width: 757px;
    height: 451px;
    padding: 25px 22px 10px 22px;
  }

  .YouTube_block_txt {
    font-size: 18.5px;
    padding: 0px 22px 10px 22px;
  }

  .yt_hint_img_div {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 25px;
  }

  .yt_hint_box {
    /* display: flex; */
    /* display: none;
    height: 100px;
    width: 950px;
    background: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(130, 130, 130, 0.8);
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center; */
    width: 800px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .yt_hint_box_1 {
    height: 120px;
  }

  .yt_hint_box_content {
    font-size: 18px;
  }

  .yt_hint_box_content_2 {
    width: 45%;
  }

  .yt_hint_box_content_img_div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 0px;
  }

  .yt_pop_box_btn {
    width: 120px;
    height: 40px;
    line-height: 35px;
    margin-left: 11px;
    margin-top: 0px;
    font-size: 18px;
  }
}

@media (max-width: 1199.98px) {
  .yt_loding_peter_div {
    width: 400px;
    height: 228.36px;
    top: 80px;
  }

  .yt_loding_peter_txt {
    width: 400px;
    height: 35px;
    line-height: 32px;
    font-size: 24px;
  }

  .yt_aside {
    width: 120px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .yt_aside_img {
    width: 120px;
  }

  .yt_aside_title {
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .yt_aside_title_img_div {
    padding: 0px 0px 0px 15px;
    width: 85px;
    height: 30px;
  }

  .yt_aside_title_span {
    height: 25px;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
  }

  .yt_main {
    width: calc(100vw - 215px);
  }

  .YouTube_block_bg {
    width: 700px;
    height: 507px;
    margin: 15px auto 0px auto;
    background: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .YouTube_block {
    width: 661px;
    height: 405px;
    padding: 25px 20px 10px 20px;
  }

  .YouTube_block_txt {
    font-size: 18.5px;
    padding: 0px 22px 10px 22px;
  }

  .yt_hint_img_div {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 20px;
  }

  .yt_hint_box {
    width: 700px;
    margin-top: 20px;
  }

  .yt_hint_box_content {
    font-size: 18px;
    display: block;
  }

  .yt_hint_box_content_2 {
    width: 43%;
  }

  .yt_pop_box_btn {
    width: 130px;
    height: 40px;
    line-height: 35px;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 18px;
  }
}

@media (max-width: 1060.98px) {
  .yt_hint_box_content {
    font-size: 16px;
    line-height: 30px;
  }

  .yt_hint_box_content_2 {
    width: 37%;
  }

  .yt_hint_img_div {
    width: 45px;
    height: 45px;
    margin-left: 15px;
    margin-right: 15px;
  }

}

@media (max-width: 960.98px) {
  .yt_loding_peter_div {
    width: 350px;
    height: 199.82px;
  }

  .yt_loding_peter_txt {
    width: 350px;
    height: 20px;
    line-height: 28px;
    font-size: 21px;
  }

  .yt_peter_head_div {
    width: 160px;
  }

  .yt_aside_video {
    display: block;
  }

  .yt_aside {
    display: flex;
    width: 400px;
    height: 70px;
  }

  .yt_aside_img {
    width: 130px;
    margin: 0;
  }

  .yt_aside_title {
    flex-wrap: nowrap;
    height: 50px;
  }

  .yt_aside_title_img_div {
    padding: 0px 5px 0px 15px;
    width: 100px;
    height: 63px;
    display: flex;
    align-items: center;
  }

  .yt_aside_title_span {
    height: 67px;
    font-size: 25px;
    display: flex;
    align-items: center;
  }

  .YouTube_block_bg {
    width: 600px;
    height: 435px;
  }

  .yt_main {
    width: calc(100vw - 80px);
  }

  .YouTube_block {
    width: 567px;
    height: 348px;
    padding: 16px 16px 8px 16px;
  }

  .YouTube_block_txt {
    font-size: 16px;
    padding: 0px 16px 10px 16px;
  }

  .yt_hint_img_div {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 20px;
  }

  .yt_hint_box {
    width: 650px;
    margin-top: 20px;
  }

  .yt_hint_box_content {
    font-size: 14px;
    line-height: 25px;
  }

  .yt_hint_box_content_2 {
    width: 28%;
  }

  .yt_pop_box_btn {
    width: 120px;
    height: 35px;
    line-height: 35px;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 14px;
  }

}


/* @media (max-width: 768.98px) {} */